package templr

import "github.com/gsxhq/gsx-bench/data"

templ Comments(items []data.Comment) {
	<section>
		for _, c := range items {
			<article><b>{ c.Author }</b>: { c.Body }</article>
		}
	</section>
}
